@import url('https://webfontworld.github.io/NanumSquareRound/NanumSquareRound.css');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Monomaniac+One&display=swap');

.addNor-back-button {
    position: absolute;
    top: 10px;
    left: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 30px;
    color: #000;
    padding: 10px;
    font-weight: 500;
    font-family: "Monomaniac One", sans-serif;
}

.addNor-h1{
    font-size: 20px;
    color: #303030;
    line-height: 30px;
    text-align: center;
    margin-top: 32px;
    font-family: 'NanumSquareRound',sans-serif;
    font-weight: 500;
}

/* 제출 버튼 */
.addNor-submit {
    background-color: #ffffff;
    color: #000;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    position: absolute;
    top: 28px;
    right: 20px;
    font-size: 17px;
    font-family: 'NanumSquareRound',sans-serif;
}

.fixedMemo{
    border: none;
}
.addNor-container{
    margin-top: 40px;
    position: relative;

}

.addNor-input-container{
    margin-top: 10px;
    font-family: 'NanumSquareRound',sans-serif;
    font-weight: normal;
}

.startdatetime-pickers::placeholder{
    color: #000000;
    cursor:default;
}

.enddatetime-pickers::placeholder{
    color: #000000;
    cursor:default;
}

.addNor-input-container input,
.addNor-input-container textarea {
    padding: 8px; /* 입력 요소에 내부 여백 추가 */
    border-radius: 4px; /* 입력 요소 테두리 반경 설정 */
    font-family: 'NanumSquareRound', sans-serif;
    font-size: 14px;
    margin-top: 5px;
}
.addNor-date-picker {
    display: none;
    align-items: center;
    font-family: 'NanumSquareRound', sans-serif;
    justify-content: center;
}

.addNor-date-range-divider {
    margin-top: -14px;
    margin-left: -90px;
}
.addNor-input-container input,
.addNor-input-container textarea {
    padding: 12px; /* 내부 패딩을 조금 더 크게 설정합니다. */
    border-bottom: 1px solid #ccc; /* 입력 요소 테두리 설정 */
    border-radius: 4px; /* 입력 요소 테두리 반경 설정 */
    font-family: 'NanumSquareRound', sans-serif;
    font-size: 14px;
    margin-top: 5px;
    width: 33%; /* 입력 요소를 부모 요소의 100% 너비로 설정합니다. */
    box-sizing: border-box; /* 패딩과 테두리를 포함하여 요소의 크기를 계산합니다. */
}


.addNor-date-picker-holder
{
    z-index: 9999 !important;
    position: fixed;
    background-color: Black;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    text-align: center;
}

.addNor-date-picker-table {
    cursor: pointer;
    z-index: 99999 !important;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16); /* 그림자 효과 */
    max-width: 80%; /* 최대 너비 지정 */
    max-height: 80%; /* 최대 높이 지정 */
    overflow: auto; /* 스크롤 설정 */
}

.addNor-date-picker-table table {

    width: 100%;
    border-collapse: collapse; /* 테이블 경계 스타일 설정 */
}

.addNor-date-picker-table td
{
    padding: 10px;
    text-align: center;
}

.addNor-datetime-picker{
    font-family: 'NanumSquareRound', sans-serif;
    border: none;
    outline: none;
    align-items: center;
    justify-content: center;
}

.addNor-datetime-range-divider {
    display: flex;
    align-items: center;
    margin-top: -14px;
}

.addNor-repeat-toggle{
    box-sizing: border-box;
    position: relative;
    display: none;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    font-family: 'NanumSquareRound', sans-serif;
    font-size: 12px;
}

.addNor-time-toggle{
    position: relative;
    left: 5px;
    display: none;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    font-family: 'NanumSquareRound', sans-serif;
    font-size: 12px;
}

.addNor-repeat-toggle [type="checkbox"],
.addNor-time-toggle [type="checkbox"]{
    appearance: none; /*기본스타일 제거*/
    /*알약스타일*/
    position: relative;
    border: max(2px, 0.1em) solid gray;
    border-radius: 1.25em;
    width: 2.25em;
    height: 1.25em;
}

/*알약 안에서 좌우로 움직이는 엄지 스타일*/
.addNor-repeat-toggle [type="checkbox"]::before {
    content: "";
    position: absolute;
    left: 0;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    transform: scale(0.8);
    background-color: gray;
    transition: left 250ms linear;
}

/*켜짐 상태 스타일*/
.addNor-repeat-toggle [type="checkbox"]:checked::before {
    background-color: white;
    left: 1em;
}

.addNor-repeat-toggle [type="checkbox"]:checked {
    background-color: #80A160;
    border-color: #80A160;
}

/*불능 상태 스타일*/
.addNor-repeat-toggle [type="checkbox"]:disabled {
    border-color: lightgray;
    opacity: 0.7;
    cursor: not-allowed;
}

.addNor-repeat-toggle [type="checkbox"]:disabled:before {
    background-color: lightgray;
}

.addNor-repeat-toggle [type="checkbox"]:disabled + span {
    opacity: 0.7;
    cursor: not-allowed;
}

/*포커스 상태 스타일*/
.addNor-repeat-toggle [type="checkbox"]:focus-visible {
    outline-offset: max(2px, 0.1em);
    outline: max(2px, 0.1em) solid tomato;
}

/*호버 상태 스타일*/
.addNor-repeat-toggle [type="checkbox"]:enabled:hover {
    box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
}

/*알약 안에서 좌우로 움직이는 엄지 스타일*/
.addNor-time-toggle [type="checkbox"]::before {
    content: "";
    position: absolute;
    left: 0;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    transform: scale(0.8);
    background-color: gray;
    transition: left 250ms linear;
}

/*켜짐 상태 스타일*/
.addNor-time-toggle [type="checkbox"]:checked::before {
    background-color: white;
    left: 1em;
}

.addNor-time-toggle [type="checkbox"]:checked {
    background-color: #80A160;
    border-color: #80A160;
}

/*불능 상태 스타일*/
.addNor-time-toggle [type="checkbox"]:disabled {
    border-color: lightgray;
    opacity: 0.7;
    cursor: not-allowed;
}

.addNor-time-toggle [type="checkbox"]:disabled:before {
    background-color: lightgray;
}

.addNor-time-toggle [type="checkbox"]:disabled + span {
    opacity: 0.7;
    cursor: not-allowed;
}

/*포커스 상태 스타일*/
.addNor-time-toggle [type="checkbox"]:focus-visible {
    outline-offset: max(2px, 0.1em);
    outline: max(2px, 0.1em) solid tomato;
}

/*호버 상태 스타일*/
.addNor-time-toggle [type="checkbox"]:enabled:hover {
    box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
}
