@import url('https://webfontworld.github.io/NanumSquareRound/NanumSquareRound.css');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Monomaniac+One&display=swap');

.addNor-back-button {
    position: absolute;
    top: 10px;
    left: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 30px;
    color: #000;
    padding: 10px;
    font-family: "Monomaniac One", sans-serif;
    font-weight: normal;
}

.addNor-h1 {
    font-size: 20px;
    color: #303030;
    line-height: 30px;
    text-align: center;
    margin-top: 32px;
    font-family: 'NanumSquareRound', sans-serif;
}

/* 제출 버튼 */
.addNor-submit {
    position: absolute;
    top: 27px;
    right: 30px;
    background-color: #ffffff;
    color: #000;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    font-size: 17px;
    font-family: 'NanumSquareRound', sans-serif;
    font-weight: bold;
}

.fixedMemo {
    border: none;
}

.addNor-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.addNor-input-container {
    margin-top: 10px;
    font-family: 'NanumSquareRound', sans-serif;
    width: 70%;
    display: flex;
    flex-direction: column;
}

.addNor-input-container input,
.addNor-input-container textarea {
    padding: 8px;
    border-radius: 4px;
    font-family: 'NanumSquareRound', sans-serif;
    font-size: 14px;
    margin-top: 5px;
    width: 100%;
    box-sizing: border-box;
    border: none;
}

.addNor-date-picker {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.addNor-date-range-divider {
    margin: 0 10px;
}

.addNor-datetime-picker {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.addNor-datetime-range-divider {
    margin: 0 10px;
}

.addNor-repeat-toggle,
.addNor-time-toggle {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    font-family: 'NanumSquareRound', sans-serif;
    font-size: 12px;
}

.addNor-repeat-toggle [type="checkbox"],
.addNor-time-toggle [type="checkbox"] {
    appearance: none;
    position: relative;
    border: max(2px, 0.1em) solid gray;
    border-radius: 1.25em;
    width: 2.25em;
    height: 1.25em;
}

.addNor-repeat-toggle [type="checkbox"]::before,
.addNor-time-toggle [type="checkbox"]::before {
    content: "";
    position: absolute;
    left: 0;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    transform: scale(0.8);
    background-color: gray;
    transition: left 250ms linear;
}

.addNor-repeat-toggle [type="checkbox"]:checked::before,
.addNor-time-toggle [type="checkbox"]:checked::before {
    background-color: white;
    left: 1em;
}

.addNor-repeat-toggle [type="checkbox"]:checked,
.addNor-time-toggle [type="checkbox"]:checked {
    background-color: #80A160;
    border-color: #80A160;
}

.addNor-repeat-toggle [type="checkbox"]:disabled,
.addNor-time-toggle [type="checkbox"]:disabled {
    border-color: lightgray;
    opacity: 0.7;
    cursor: not-allowed;
}

.addNor-repeat-toggle [type="checkbox"]:disabled:before,
.addNor-time-toggle [type="checkbox"]:disabled:before {
    background-color: lightgray;
}

.addNor-repeat-toggle [type="checkbox"]:disabled + span,
.addNor-time-toggle [type="checkbox"]:disabled + span {
    opacity: 0.7;
    cursor: not-allowed;
}

.addNor-repeat-toggle [type="checkbox"]:focus-visible,
.addNor-time-toggle [type="checkbox"]:focus-visible {
    outline-offset: max(2px, 0.1em);
    outline: max(2px, 0.1em) solid tomato;
}

.addNor-repeat-toggle [type="checkbox"]:enabled:hover,
.addNor-time-toggle [type="checkbox"]:enabled:hover {
    box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
}

/* Hide elements */
.hidden {
    display: none;
}

.addNor-input-container label{
    margin-top: 15px;
}

.addNor-input-container label,
.addNor-time-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.addNor-time-toggle {
    justify-content: start; /* Align the toggle to the right */
    margin-top: 10px;
}

