* {
    margin: 0;
    box-sizing: border-box;
}

body {
    justify-content: center;
    align-items: center;
    max-width: 500px;
    margin: auto; /* 가운데 정렬 */
    overflow-x: hidden;
}

.back_bg{
    display: none;
    position: fixed;
    content:"";
    width: 100%;
    height: 100%;
    background-color: transparent;
    top: 0;
    left: 0;
    z-index: 1;
}

.calendar {
    font-family: "Monomaniac One", sans-serif;
    font-size: 20px;
    width: 90%;
    max-width: 500px;
    height: 780px;
    margin: 60px auto;
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -40px;
}

.nav-btn {
    width: 50px;
    height: 24px;
    border: none;
    font-size: 20px;
    line-height: 25px;
    background-color: transparent;
    cursor: pointer;
}

.days {
    display: flex;
    margin: 20px 0px;
    font-size: 12px;
    font-family: "Monomaniac One", sans-serif;
}

.day {
    width: calc(100% / 7);
    text-align: center;
    font-family: "Monomaniac One", sans-serif;
}

.dates {
    display: flex;
    flex-flow: row wrap;
    height: 680px;
    border-top: 1px solid #333333;
    border-right: 1px solid #333333;
    border-color: #FFFFFF;
    font-family: "Monomaniac One", sans-serif;
}

.date {
    width: calc(100% / 7);
    padding: 10px;
    font-size: 13px;
    text-align: center;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #333333;
    cursor: pointer;
    border-color: #FFFFFF;
    font-family: "Monomaniac One", sans-serif;
}

.day:nth-child(7n+ 1),
.date:nth-child(7n + 1) {
    color: #D13E3E;
}

.day:nth-child(7n),
.date:nth-child(7n) {
    color: #396EE2;
}

.other {
    opacity: 0.3;
}

.today {
    position: relative;
    color: #FFFFFF;
}

.today::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 23px;
    height: 23px;
    display: block;
    background-color: #80A160;
    border-radius: 50%;
    content: '';
}