#back-button {
    position: absolute;
    height: 50px;
    top: 15px;
    left: 0px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 30px;
    color: #000;
    padding: 0;
    font-weight: 500;
    width: 100px;
}

h1{
    font-size: 25px;
    color: #303030;
    line-height: 30px;
    text-align: center;
    margin-top: 28px;
    font-family: "Monomaniac One", sans-serif;
    font-weight: 500;
}

input {
    border: none; /* 기본 테두리를 제거합니다. */
    border-bottom: 2px solid #acada9; /* 밑줄을 추가합니다. */
    padding: 5px; /* 내부 여백을 설정합니다. */
    font-size: 16px; /* 폰트 크기를 설정합니다. */
    margin-top: 16px;
    margin-bottom: 16px; /* 입력 요소 아래쪽 간격을 설정합니다. */
    font-family: 'NanumSquareRound';
}

.input-container {
    position: relative;
    margin-bottom: 10px; /* 각 입력창의 아래 여백 */
}

.input-container label {
    display: block; /* 입력창과 라벨을 세로로 배치하기 위해 블록 요소로 설정 */
    margin-bottom: 5px; /* 라벨과 입력창 사이의 간격 조절 */
}

input[name="account"] {
    width: 45%;
}

input[name="password"] {
    width: 45%;
}

input:focus {
    outline: none; /* 포커스 시 테두리를 제거합니다. */
    border-bottom-color: #787977; /* 포커스 시 밑줄 색상을 변경합니다. */
}

div{
    font-size: 16px;
    font-weight: 900;
    color: #303030;
    line-height: 30px;
    text-align: center;
    font-family: 'NanumSquareRound';
}

button {
    border-radius: 20px; /* 버튼을 라운드된 형태로 만듭니다. */
    padding: 5px 40px; /* 버튼 내부 여백을 조절합니다. */
    font-size: 16px; /* 버튼 텍스트의 크기를 조절합니다. */
    background-color: #acada9; /* 버튼의 배경색을 설정합니다. */
    color: #ffffff; /* 버튼 텍스트의 색상을 설정합니다. */
    border: none; /* 버튼의 테두리를 제거합니다. */
    cursor: pointer; /* 커서를 포인터 형태로 변경하여 클릭 가능한 상태로 나타냅니다. */
    margin-right: 20px;
    height: 37px;
    font-weight: 500;
    font-family: 'NanumSquareRound';
}

button[type="submit"] {
    display: block; /* 버튼을 블록 요소로 설정하여 중앙 정렬을 쉽게 합니다. */
    margin: 0 auto; /* 좌우 여백을 자동으로 설정하여 가운데 정렬합니다. */
    margin-top: 16px;
}

button:hover {
    background-color: #787977; /* 버튼에 마우스를 올렸을 때의 배경색을 설정합니다. */
}
