* {
    margin: 0;
    box-sizing: border-box;
}

body {
    justify-content: center;
    align-items: center;
    max-width: 500px;
    margin: auto; /* 가운데 정렬 */
    overflow-x: hidden;
}

.top_right_images {
    position: relative;
    margin-top: 25px;
    z-index: 100;
    left: 350px;
}

.top_right_images img {
    margin-left: 20px; /* 이미지 사이의 간격 조정 */
    width: 30px;
    height: 30px;
    cursor: pointer;
}

h2{
    font-family: 'NanumSquareRound',sans-serif;
    text-align: center;
    margin-top: 18px;
    font-size: 20px;
}


/*search img를 눌렀을 때 나오는 화면*/
.popup_wrap2,
.popup_wrap3 {
    display: none;
    width: 420px; /* 팝업창 너비 자동 조정 */
    height: 730px; /* 팝업창 높이 자동 조정 */
    position: fixed;
    top: 48%; /* 화면 세로 중앙 정렬을 위해 top을 50%로 설정 */
    left: 50%;
    transform: translate(-50%, -50%); /* 화면 가운데 정렬을 위해 translate 사용 */
    background: #FFFFFF;
    z-index: 1000; /* 다른 요소들보다 위에 표시되도록 높은 값 설정 */
    border: 1px solid #333;
    border-radius: 15px;
    padding: 10px; /* 팝업 내부 여백 */
}

.mini_back_bg{
    display: none;
    position: fixed;
    content:"";
    width: 100%;
    height: 100%;
    background-color: transparent;
    top: 0;
    left: 0;
    z-index: 1;
}

.mini_calendar {
    font-family: "Monomaniac One", sans-serif;
    font-size: 15px;
    width: 90%;
    max-width: 600px;
    margin: 60px auto;
    text-align: center;
}

.mini_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -40px;
}

.mini_nav-btn {
    width: 50px;
    height: 24px;
    border: none;
    font-size: 20px;
    line-height: 25px;
    background-color: transparent;
    cursor: pointer;
}

.mini_days {
    display: flex;
    margin: 20px 0px;
    font-size: 12px;
    font-family: "Monomaniac One", sans-serif;
}

.mini_day {
    width: calc(100% / 7);
    text-align: center;
    font-family: "Monomaniac One", sans-serif;
}

.mini_dates {
    display: flex;
    flex-flow: row wrap;
    height: 300px;
    border-top: 1px solid #333333;
    border-right: 1px solid #333333;
    border-color: #FFFFFF;
    font-family: "Monomaniac One", sans-serif;
}

.mini_date {
    width: calc(100% / 7);
    padding: 10px;
    font-size: 13px;
    text-align: center;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #333333;
    cursor: pointer;
    border-color: #FFFFFF;
    font-family: "Monomaniac One", sans-serif;
}

.mini_day:nth-child(7n+ 1),
.mini_date:nth-child(7n + 1) {
    color: #D13E3E;
}

.mini_day:nth-child(7n),
.mini_date:nth-child(7n) {
    color: #396EE2;
}

.mini_other {
    opacity: 0.3;
}

.mini_today {
    position: relative;
    color: #FFFFFF;
}

/* 각 날짜를 표시하는 스타일 */
.mini_dates .date .mini_this {
    cursor: pointer; /* 마우스 포인터를 변경하여 클릭 가능한 상태로 표시 */
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%; /* 원형 모양으로 설정 */
    margin: 5px;
}

/* 선택된 날짜를 표시하는 스타일 */
.mini_dates .date .mini_this.selected {
    background-color: #80A160;
    color: white;
}

/*addSchedule을 눌렀을 때 나오는 popup*/
.popup_wrap {
    display: none;
    width: 150px; /* 팝업창 너비 자동 조정 */
    height: auto; /* 팝업창 높이 자동 조정 */
    position: fixed;
    top: 9%;
    left: 50%;
    transform: translateX(60px);
    background: #FFFFFF;
    z-index: 1000; /* 다른 요소들보다 위에 표시되도록 높은 값 설정 */
    border: 1px solid #333;
    border-radius: 15px;
    padding: 10px; /* 팝업 내부 여백 */
}

.button_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.button_container button {
    font-family: 'NanumSquareRound',sans-serif;
    width: 100%; /* 버튼이 컨테이너의 너비를 채우도록 조정 */
    padding: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    border: none;
    cursor: pointer;
    background-color: #FFFFFF;
}

.back_bg{
    display: none;
    position: fixed;
    content:"";
    width: 100%;
    height: 100%;
    background-color: transparent;
    top: 0;
    left: 0;
    z-index: 1;
}

.calendar {
    font-family: "Monomaniac One", sans-serif;
    font-size: 20px;
    width: 90%;
    max-width: 500px;
    height: 780px;
    margin: 60px auto;
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -40px;
}

.nav-btn {
    width: 50px;
    height: 24px;
    border: none;
    font-size: 20px;
    line-height: 25px;
    background-color: transparent;
    cursor: pointer;
}

.days {
    display: flex;
    margin: 20px 0px;
    font-size: 12px;
    font-family: "Monomaniac One", sans-serif;
}

.day {
    width: calc(100% / 7);
    text-align: center;
    font-family: "Monomaniac One", sans-serif;
}

.dates {
    display: flex;
    flex-flow: row wrap;
    height: 680px;
    border-top: 1px solid #333333;
    border-right: 1px solid #333333;
    border-color: #FFFFFF;
    font-family: "Monomaniac One", sans-serif;
}

.date {
    width: calc(100% / 7);
    padding: 10px;
    font-size: 13px;
    text-align: center;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #333333;
    cursor: pointer;
    border-color: #FFFFFF;
    font-family: "Monomaniac One", sans-serif;
}

.day:nth-child(7n+ 1),
.date:nth-child(7n + 1) {
    color: #D13E3E;
}

.day:nth-child(7n),
.date:nth-child(7n) {
    color: #396EE2;
}

.other {
    opacity: 0.3;
}

.today {
    position: relative;
    color: #FFFFFF;
}

.today::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 23px;
    height: 23px;
    display: block;
    background-color: #80A160;
    border-radius: 50%;
    content: '';
}

.bottom_menu {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 10%;
    z-index: 100;
    background-color: white;
    font-family: "Monomaniac One", sans-serif;
}

.bottom_menu > div {
    float: left;
    width: 25%;
    height: 100%;
    text-align: center;
    padding-top: 27px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.bottom_menu > div:not(:nth-child(2)) {
    opacity: 0.7;
}

.bottom_menu > div:not(:nth-child(2)) img {
    opacity: 0.7;
}

.bottom_menu > div:not(:nth-child(2)) p {
    opacity: 0.7;
}

.bottom_menu img {
    width: 18px;
    height: 18px;
    object-fit: cover;
}

.bottom_menu p {
    font-size: 14px;
    line-height: 25px;
    color: black;
}

/*예상 소요시간 버튼 css*/

.time-picker{
    text-align: center;
}

.time-buttons{
    margin-top: 10px;
    text-align: center;
}

.time-buttons button{
    margin-top: 10px;
    border-radius: 10px;
    background-color: #acada9;
    border: none;
    font-size: 14px;
    width: 100px;
    height: 28px;
    font-family: 'NanumSquareRound', sans-serif;
    cursor: pointer;
}

.estimated-submit{
    border-radius: 5px;
    font-family: 'NanumSquareRound', sans-serif;
    border: none;
    font-size: 14px;
    width: 45px;
    height: 25px;
    cursor: pointer;
}

/* 버튼 호버 시 색상 변경 */
.time-buttons button:hover {
    background-color: #787977; /* 원하는 색상으로 변경 */
}

.estimated-submit:hover{
    background-color: #acada9;
}
/* 입력 부분 스타일 변경 */
#estimatedTime {
    width: 50px; /* 입력 부분 너비 설정 */
}

/*시간대 추천 리스트 화면 뒤로가기*/
#back-button {
    position: absolute;
    top: 4px;
    left: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 30px;
    color: #000;
    padding: 10px;
    font-family: "Monomaniac One", sans-serif;
}

/*recommend list 꾸미기*/
.recoLists {
    line-height: 1.5;
}

.recoList {
    border: 1px solid #ccc; /* 테두리 스타일 설정 */
    border-radius: 10px; /* 테두리의 모서리를 둥글게 만듦 */
    padding: 15px; /* 내부 여백 설정 */
    margin-top: 20px;
    margin-bottom: 20px; /* 각 recoList 요소의 아래쪽 여백 설정 */
    font-family: 'NanumSquareRound', sans-serif;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
    width: 100%;
    cursor: pointer;
}

.recoList:hover{
    background-color: #acada9;
}
