@import url('https://webfontworld.github.io/NanumSquareRound/NanumSquareRound.css');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Monomaniac+One&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

.main-gray-box{
    max-width: 600px;
    margin: 0 auto; /* 가운데 정렬을 위해 margin을 auto로 설정 */
    text-align: center;
    align-items: center;
    color: #303030;
    line-height: 30px;
    font-weight: normal;
}

/*우측 상단 이미지*/
.main-top-right-images {
    margin-top: 20px;
    position: relative;
    margin-left: 60%;
}

.main-top-right-images img {
    width: 25px;
    height: 25px;
    margin-left: 20px; /* 이미지 사이의 간격 조정 */
}

.main-top-right-images img:hover {
    opacity: 0.7; /* 호버 시 투명도 조정 */
    cursor: pointer; /* 호버 시 커서 모양 변경 */
}

/*popup 안의 시간대 추천 글자*/
.search-h2{
    font-family: 'NanumSquareRound',sans-serif;
    text-align: center;
    margin-top: 18px;
    font-size: 20px;
}

/*search를 눌렀을 때 나오는 popup - 시간대 추천 mini calendar*/
.search-popup-wrap,
.searchList-popup-wrap {
    display: none;
    width: 400px; /* 팝업창 너비 자동 조정 */
    height: 600px; /* 팝업창 높이 자동 조정 */
    position: fixed;
    top: 48%; /* 화면 세로 중앙 정렬을 위해 top을 50%로 설정 */
    left: 50%;
    transform: translate(-50%, -50%); /* 화면 가운데 정렬을 위해 translate 사용 */
    background: #FFFFFF;
    z-index: 1000; /* 다른 요소들보다 위에 표시되도록 높은 값 설정 */
    border: 1px solid #333;
    border-radius: 15px;
    padding: 10px; /* 팝업 내부 여백 */
}

.recommended-times-list-container {
    max-height: calc(100vh - 440px); /* 부모 요소의 높이를 기준으로 스크롤 생성 */
    overflow-y: auto; /* 스크롤 적용 */
    margin-top:10px;
}

.recommended-time {
    border: 1px solid #ccc; /* border 추가 */
    margin-bottom: 10px; /* 아래 여백 추가 */
    margin-top: 14px;
    width: 300px;
    left: 40px;
    cursor: pointer; /* 선택 가능하도록 커서 설정 */
    font-family: 'NanumSquareRound', sans-serif;
    border-radius: 15px;
    position: relative;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* 하단 메뉴 바 그림자 */
    padding: 7px;
}

.recommended-time:hover {
    background-color: #f0f0f0; /* 호버 시 배경색 변경 */
}

.recommended-times-list-container::-webkit-scrollbar {
    width: 5px; /* 스크롤바의 너비를 조정 */
}

.recommended-times-list-container::-webkit-scrollbar-track {
    background: #f1f1f1; /* 스크롤바의 트랙 배경색 */
}

.recommended-times-list-container::-webkit-scrollbar-thumb {
    background: #888; /* 스크롤바의 색상 */
    border-radius: 10px; /* 스크롤바의 모서리를 둥글게 만듦 */
}

.recommended-times-list-container::-webkit-scrollbar-thumb:hover {
    background: #555; /* 스크롤바 호버 시 색상 변경 */
}

.estimatedTime-inputField label{
    font-weight: bold;
}

.mini_back_bg{
    display: none;
    position: fixed;
    content:"";
    width: 100%;
    height: 100%;
    background-color: transparent;
    top: 0;
    left: 0;
    z-index: 1;
}

.search-back-button{
    margin-top: -15px;
}

.mini_calendar {
    font-family: "Monomaniac One", sans-serif;
    font-weight: normal;
    font-size: 15px;
    width: 90%;
    max-width: 600px;
    margin: 60px auto;
    text-align: center;
}

.mini_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -50px;
    font-family: 'NanumSquareRound', sans-serif;
    font-weight: bold;
    font-size: 16px;
}

.mini_nav-btn {
    width: 50px;
    height: 24px;
    border: none;
    font-size: 20px;
    line-height: 25px;
    background-color: transparent;
    cursor: pointer;
}

.mini_days {
    display: flex;
    margin: 10px;
    font-size: 12px;
    font-family: "Monomaniac One", sans-serif;
    font-weight: normal;
}

.mini_day {
    width: calc(100% / 7);
    text-align: center;
    font-family: "Monomaniac One", sans-serif;
    font-weight: normal;
    font-size: 15px;
    margin-bottom: -20px;
}

.mini_dates {
    display: flex;
    flex-flow: row wrap;
    height: 300px;
    font-family: "Monomaniac One", sans-serif;
    font-weight: normal;

}

.mini_date {
    width: calc(100% / 7);
    padding: 11px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    border-color: #FFFFFF;
    font-family: "Monomaniac One", sans-serif;
    font-weight: normal;

}

.mini_day:nth-child(7n+ 1),
.mini_date:nth-child(7n + 1) {
    color: #D13E3E;
}

.mini_day:nth-child(7n),
.mini_date:nth-child(7n) {
    color: #396EE2;
}

.mini_nav-btn:hover{
    opacity: 0.7; /* 호버 시 투명도 조정 */
    background-color: transparent;
}

.mini_other {
    opacity: 0.3;
}

.mini_date.selected {
    background-color: #80A160; /* 선택된 날짜의 배경색 */
    color: white; /* 선택된 날짜의 텍스트 색상 */
    border-radius: 40%;
}

.mini_date {
    user-select: none; /* 드래그 중 텍스트가 선택되지 않도록 */
}

/*예상 소요시간 버튼*/
.search-time-popup-wrap{
    text-align: center;
    margin-top: -50px;
}

.estimatedTime-inputField{
    display: flex;
    flex-direction: column;
    align-items: center; /* 가운데 정렬 */
    border-color: #acada9;
}

.estimatedTime-inputField input {
    width: 100px; /* input width 줄이기 */
    margin-bottom: 10px; /* 버튼과 간격을 두기 위해 추가 */
    margin-top:10px;
    font-size: 15px;
    text-align: center;
}

.estimated-submit {
    border-radius: 5px;
    font-family: 'NanumSquareRound', sans-serif;
    border: none;
    font-size: 15px;
    width: 100px;
    height: 35px;
    cursor: pointer;
    margin-top: 20px;
    align-self: center; /* 가운데 정렬 */
}

/*addSchedule을 눌렀을 때 나오는 popup*/
.addSche-popup-wrap {
    display: none;
    width: 160px; /* 팝업창 너비 자동 조정 */
    height: auto; /* 팝업창 높이 자동 조정 */
    position: fixed;
    top: 8%;
    left: 50%;
    transform: translateX(60px);
    background: #FFFFFF;
    z-index: 1000; /* 다른 요소들보다 위에 표시되도록 높은 값 설정 */
    border: 1px solid #333;
    border-radius: 15px;
    padding: 10px; /* 팝업 내부 여백 */
}

.addSche-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.addSche-button-container button {
    font-family: 'NanumSquareRound',sans-serif;
    width: 100%; /* 버튼이 컨테이너의 너비를 채우도록 조정 */
    padding: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    border: none;
    cursor: pointer;
    background-color: #FFFFFF;
}

/*메인 캘린더*/
.back-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 999; /* Ensure it covers other elements */
    display: none; /* Initially hidden */
}

.calendar {
    font-family: 'NanumSquareRound',sans-serif;
    font-size: 18px;
    width: 80%;
    max-width: 500px;
    text-align: center;
    margin:auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-family: 'NanumSquareRound',sans-serif;
    font-weight: bold;
}

.nav-btn {
    width: 50px;
    height: 24px;
    border: none;
    font-size: 18px;
    line-height: 25px;
    background-color: transparent;
    cursor: pointer;
}

.nav-btn:hover{
    opacity: 0.7; /* 호버 시 투명도 조정 */
    background-color: transparent;
}

.days {
    display: flex;
    margin: 5px 0;
    font-family: "Monomaniac One", sans-serif;
    font-weight: normal;

}

.day {
    width: calc(100% / 7);
    font-family: "Monomaniac One", sans-serif;
    margin-bottom: -10px;
    font-size: 14px;
}

.dates {
    display: flex;
    flex-flow: row wrap;
    height: 750px;
    font-family: "Monomaniac One", sans-serif;
    font-weight: normal;

}

.date {
    width: calc(100% / 7);
    padding: 10px;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    font-family: "Monomaniac One", sans-serif;
    font-weight: normal;

}

.day:nth-child(7n+ 1),
.date:nth-child(7n + 1) {
    color: #D13E3E;
}

.day:nth-child(7n),
.date:nth-child(7n) {
    color: #396EE2;
}

.other {
    opacity: 0.3;
}

.main_today {
    position: relative;
    color: #FFFFFF;
    border: none;
}

.main_today::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 23px;
    height: 23px;
    display: block;
    background-color: #80A160;
    border-radius: 50%;
    content: '';
    border: none;
}

.day {
    position: relative;
    padding-bottom: 5px; /* 아래로 5px씩 내려가도록 추가 */
}

.event-title {
    line-height: 22px; /* 텍스트의 수직 중앙 정렬을 위한 높이 설정 */
    font-family: 'NanumSquareRound', sans-serif;
    font-weight: bold;
}

.event-indicator {
    width: 60px;
    height: 20px;
    background-color: #DBE9CD;
    position: absolute;
    border-radius: 10%;
    left: 5px;
}

/* 제목의 길이를 제한하고, 오버플로우가 생기면 생략 표시(...)를 추가 */
.event-indicator .event-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%; /* 필요에 따라 조정 가능 */
    font-size: 12px;
}

/* 한 날짜 칸에 일정이 많을 경우 세로 스크롤이 생기도록 설정 */
.day .event-indicator-container {
    max-height: 75px; /* 필요에 따라 조정 가능 */
    overflow-y: auto;
}

/*예상소요시간 입력*/
.main-estimated-picker-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-estimated-picker {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 170px;
    margin-bottom: 150px;
}

.main-estimated-picker label {
    display: block;
    margin-bottom: 10px;
}

.main-estimated-picker div {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    gap: 5px; /* Adjusting the gap between time selectors */
}

.main-estimated-picker select {
    padding: 5px;
    font-size: 16px;
    border:none;
}

.main-estimated-picker button {
    background-color: #80A160;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 15px;
    cursor: pointer;
    font-size: 14px;
}

/*하단 메뉴바*/

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    cursor: pointer;

}

.menu-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-icon {
    width: 35px;
    height: 35px;
    object-fit: cover;
    margin-bottom: 5px;
}

.menu p {
    font-size: 14px;
    font-family: "Monomaniac One", sans-serif;
    font-weight: normal;
}


