* {
    margin: 0;
    box-sizing: border-box;
}

.setting-gray-box{
    color: #303030;
    line-height: 30px;
    font-weight: normal;
    width: 500px;
    margin: 0 auto; /* 가운데 정렬을 위해 margin을 auto로 설정 */
}

/*하단 메뉴바*/
.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    cursor: pointer;

}

.menu-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-icon {
    width: 35px;
    height: 35px;
    object-fit: cover;
    margin-bottom: 5px;
}

.menu p {
    font-size: 14px;
    font-family: "Monomaniac One", sans-serif;
    font-weight: normal;
}