@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Monomaniac+One&display=swap');

.start-img {
    width: 140px;
    height: 90px;
    object-fit: cover;
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
}

.start-gray-box{
    text-align: center;
}

.start-h1 {
    font-size: 40px;
    color: #303030;
    line-height: 20px;
    text-align: center;
    font-style:normal;
    font-family: "Monomaniac One", sans-serif;
    font-weight: 500;
}

.start-button {
    display: inline-block;
    padding: 2px 20px;
    border-radius: 20px;
    border: none;
    background-color: #acada9;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    margin-top: 40px;
    margin-right: 20px;
    width: 100px;
    font-family: "Monomaniac One", sans-serif;
    font-size: 18px;
    font-weight: normal;
}

.start-button:hover {
    background-color: #787977;
}
