@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Monomaniac+One&display=swap');

img {
    width: 140px;
    height: 90px;
    object-fit: cover;
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.gray-box{
    text-align: center;
}

form {
    width: 440px;
    text-align: center; /* 폼 내부 요소를 가운데 정렬 */
}

.start-h1 {
    font-size: 40px;
    color: #303030;
    line-height: 20px;
    text-align: center;
    font-style:normal;
    font-family: "Monomaniac One", sans-serif;
    font-weight: 500;
}

.start-button {
    display: inline-block;
    padding: 2px 20px;
    border-radius: 20px;
    border: none;
    background-color: #acada9;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 20px;
    width: 60px;
    font-family: "Monomaniac One", sans-serif;
    font-size: 15px;
    font-weight: normal;
}

.start-button:hover {
    background-color: #787977;
}
