* {
    margin: 0;
    box-sizing: border-box;
}

body {
    justify-content: center;
    align-items: center;
    max-width: 500px;
    margin: auto; /* 가운데 정렬 */
    overflow-x: hidden;
}

.top_right_images {
    position: relative;
    margin-top: 25px;
    z-index: 100;
    left: 350px;
}

.top_right_images img {
    margin-left: 20px; /* 이미지 사이의 간격 조정 */
    width: 30px;
    height: 30px;
    cursor: pointer;
}