<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/frontend/src/css/main.css">
    <style>
        @import url('https://webfontworld.github.io/NanumSquareRound/NanumSquareRound.css');
        @import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Monomaniac+One&display=swap');
    </style>
    <title>Main Calendar</title>
</head>

<body>
<div class="container">
    <div class="top_right_images">
        <img id="popup_search" src="/frontend/src/images/search.png" />
        <img id="popup_addSchedule" src="/frontend/src/images/addSchedule.png" />
    </div>
    <div class="popup_wrap2">
        <h2>시간대 추천</h2>
        <div class="mini_calendar">
            <div class="mini_header">
                <div class="mini_nav prev">
                    <button class="mini_nav-btn go-prev" onclick="mini_prevMonth()">&lt;</button>
                </div>
                <div class="mini_year-month"></div>
                <div class="mini_nav next">
                    <button class="mini_nav-btn go-next" onclick="mini_nextMonth()">&gt;</button>
                </div>
            </div>
            <div class="mini_main">
                <div class="mini_days">
                    <div class="mini_day">SUN</div>
                    <div class="mini_day">MON</div>
                    <div class="mini_day">TUE</div>
                    <div class="mini_day">WED</div>
                    <div class="mini_day">THU</div>
                    <div class="mini_day">FRI</div>
                    <div class="mini_day">SAT</div>
                </div>
                <div class="mini_dates"></div>
            </div>
        </div>
        <div class="time-picker" id="time-picker">
            <label>예상소요시간 : </label>
            <input type="text" id="estimatedTimeInput" name="estimatedTime" disabled> <!-- 비활성화된 입력 필드 -->
            <button class="estimated-submit" type="submit">추천</button>
            <div id="estimatedTimeWrapper">
                <span id="estimatedTimeDisplay"></span>
            </div>
            <div class="time-buttons">
                <button onclick="setEstimatedTime('1시간')">1시간</button>
                <button onclick="setEstimatedTime('1시간 30분')">1시간 30분</button>
                <button onclick="setEstimatedTime('2시간')">2시간</button>
                <button onclick="setEstimatedTime('2시간 30분')">2시간 30분</button>
                <button onclick="setEstimatedTime('3시간')">3시간</button>
                <button type="button" onclick="enableManualInput()">직접 입력</button>
            </div>
        </div>
    </div>
    <div class="popup_wrap3">
        <h2>시간대 추천</h2>
        <button class="back-button" id="back-button">
            &lt;
        </button>
        <div class="recoLists">
            <div class="recoList">
                <p class="dateText">날짜: 2024년 04월 15일</p>
                <p class="timeText">시간: 3:00 PM - 6:00 PM</p>
            </div>
            <div class="recoList">
                <p class="dateText">날짜: 2024년 04월 15일</p>
                <p class="timeText">시간: 8:00 PM - 11:00 PM</p>
            </div>
            <div class="recoList">
                <p class="dateText">날짜: 2024년 04월 16일</p>
                <p class="timeText">시간: 11:00 AM - 4:00 PM</p>
            </div>
            <div class="recoList">
                <p class="dateText">날짜: 2024년 04월 18일</p>
                <p class="timeText">시간: 3:00 PM - 6:00 PM</p>
            </div>
            <div class="recoList">
                <p class="dateText">날짜: 2024년 04월 26일</p>
                <p class="timeText">시간: 11:00 AM - 3:00 PM</p>
            </div>
        </div>
    </div>
    <div class="popup_wrap">
        <div class="button_container">
            <button>일반 스케줄 추가</button>
            <button>유동 스케줄 추가</button>
            <button>리마인더 추가</button>
        </div>
    </div>
</div>
<div class="back_bg"></div>
<div class="calendar">
    <div class="header">
        <div class="nav prev">
            <button class="nav-btn go-prev" onclick="prevMonth()">&lt;</button>
        </div>
        <div class="year-month"></div>
        <div class="nav next">
            <button class="nav-btn go-next" onclick="nextMonth()">&gt;</button>
        </div>
    </div>
    <div class="main">
        <div class="days">
            <div class="day">SUN</div>
            <div class="day">MON</div>
            <div class="day">TUE</div>
            <div class="day">WED</div>
            <div class="day">THU</div>
            <div class="day">FRI</div>
            <div class="day">SAT</div>
        </div>
        <div class="dates"></div>
    </div>
</div>
<div class="bottom_menu">
    <div>
        <img src="/frontend/src/images/Time table.png" />
        <p>Time table</p>
    </div>
    <div>
        <img src="/frontend/src/images/Calendar.png" />
        <p>Calendar</p>
    </div>
    <div>
        <img src="/frontend/src/images/할 일 list.png" />
        <p>To Do list</p>
    </div>
    <div>
        <img src="/frontend/src/images/Setting.png" />
        <p>Setting</p>
    </div>
</div>
</div>
<script src="/frontend/src/js/main.js"></script>
</body>

</html>