<html>
<head>
    <meta charset="utf-8" />
    <title>Signup</title>
    <meta name="keyword" content="signup, html" />
    <link
            rel="stylesheet"
            type="text/css"
            href="/frontend/src/css/signup.css"
    />
    <style>
        @import url('https://webfontworld.github.io/NanumSquareRound/NanumSquareRound.css');
        @import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Monomaniac+One&display=swap');
        .alert-message {
            margin: 0 10px;
            color: #f09090;
            font-size: 14px;
            font-weight: 900;
        }
    </style>
</head>
<body>
<button
        onclick="window.history.back()"
        class="back-button"
        id="back-button"
>
    &lt;
</button>
<h1>Sign up</h1>
<hr />
<form action="signup.html" methods="POST">
    <div class="input-container">
        <label for="id-account"></label>
        <input
                type="text"
                name="account"
                placeholder="이메일"
                id="id-account"
                required="required"
        />
        <span class="alert-message" id="account-alert">Test</span>
    </div>
    <div class="input-container">
        <label for="password-account"></label>
        <input
                type="password"
                name="password"
                placeholder="비밀번호 (10자리 이상)"
                id="password-account"
                required="required"
        />
        <span class="alert-message">Test</span>
    </div>
    <div class="input-container">
        <label for="password2-account"></label>
        <input
                type="password"
                name="password2"
                placeholder="비밀번호 확인"
                id="password2-account"
                required="required"
        />
        <span class="alert-message">Test</span>
    </div>
    <div class="input-container">
        <label for="nickname-account"></label>
        <input
                type="text"
                name="nickname"
                id="nickname-account"
                placeholder="닉네임"
                required="required"
        />
    </div>
    <div>
        <input type="checkbox" name="agree" id="id-agree" required="required" />
        <label for="id-agree">
            사이트 이용약관과 개인정보 수집 방침에 동의합니다.
        </label>
    </div>
    <button type="submit">완료</button>
</form>
<script type="text/javascript" src="/frontend/src/js/signup.js"></script>
</body>
</html>
