<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>DotheReco</title>
    <meta name="keyword" content="로그인, html" />
    <link rel="stylesheet" type="text/css" href="/frontend/src/css/start.css"/>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Monomaniac+One&display=swap');
    </style>
</head>
<body>
<form id="startForm" action="start.html" method="POST">
    <div>
        <img src="/frontend/src/images/DotheReco_d.jpg" alt="두더리코 이미지"/>
        <h1 class="start-h1">DotheReco</h1>
    </div>
    <div>
        <button class="start-button" type="button" id="GoLoginButton">Login</button>
        <button class="start-button" type="button" id="GoSignupButton">Sign up</button>
    </div>
</form>
<script src="/frontend/src/js/start.js"></script>
</body>
</html>